---
title: Сбор средств
---
{% extends "layouts/_progress-bar.html" %}

{% block content %}
    <div class="wrap">
		<div class="project-content small">
			<div class="counts counts--pdt-fix">
				<div class="project-content__icon">
					<svg> 
						<use xlink:href="img/sprite.svg#icon-project-title-icon1" />
					</svg>
				</div>
				<div class="project-content__title">Сбор средств</div>
				<div class="flex">
					<div class="item item1">
						<span>147</span>
						Просмотров
					</div>
					<div class="item item2">
						<span>14</span>
						В избранных
					</div>
					<div class="item item3">
						<span>5</span>
						Инвесторов
					</div>
				</div>
				<div class="bottom-content">
					<div class="progress">
						<div class="slider">
							<div class="result" style="width: 14%;"></div>
						</div>
						<span>14%</span>
					</div>
					<div class="flex">
						<div class="price">
							Собрано
							<span>500 000 руб</span>
						</div>
						<div class="project-content__devider"></div>
						<div class="price">
							Цель
							<span>3 500 000 руб</span>
						</div>
						<div class="project-content__devider"></div>
						<div class="rating">
							Рейтинг
							<div>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
						</div>
						<div class="button button--small">
							<button>Презентация проекта</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}